@{
    ViewData["Title"] = "Trang Demo của Giang";
}

<div class="text-center mt-5">
    <h1 class="text-primary">Hello Tráng Lê Giang - Mã SV: 2221050736</h1>
    <p class="lead">Đã tạo thành công Controller và View đầu tiên!</p>
</div>